{{yield}}

<p>Up Coming Sales:
  {{announcement.upComingSales}}
<br>
Weather:
{{announcement.weatherWarnings}}
<br>
News:
{{announcement.bigNews}}</p>
<button {{ action 'delete' announcement}}>Delete</button>
