<h4>{{city.name}} Details</h4>
<h4>Country: {{city.country}}</h4>
<button {{action 'delete' city}}>Delete</button>
<hr>
<h3>Rentals available in {{city.name}}:</h3>
<ul>
  {{#each city.rentals as |rental|}}
    <li>{{#link-to 'rental' rental.id}}{{rental.owner}}'s {{rental.type}}{{/link-to}}</li>
  {{/each}}
</ul>
