<h1> Welcome to Super Rentals </h1>

We hope you find exactly what you're looking for in a place to stay.

<h2>Available Rentals</h2>

<ul>
  {{#each model.rentals as |rental|}}
    {{rental-tile rental=rental}}
    <!-- rental on the left of = refers to variable name used in within component(in this case rental-tile.hbs component) rental on the right of  = refers to tohe object we're assigning to that variable name (in this case |rental|) -->
  {{/each}}
</ul>

<h2>Cities</h2>

<ul>
  {{#each model.cities as |city|}}
      <li>{{#link-to 'city' city.id}}{{city.name}}, {{city.country}}{{city-popularity city}}{{/link-to}}</li>
  {{/each}}
</ul>

{{new-city saveCity="saveCity"}}

<hr>

{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'contact'}}Click here to contact us.{{/link-to}}
{{#link-to 'announcement'}}Announcements{{/link-to}}
